body {
    font-size: 14px;
}

.head-mod {
    font-size: 14px;
}

.top-menu-button {
    margin: 3px 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.top-menu-button:hover {
    background: #eee;
    transition: 0.1s;
}

.top-menu-button img {
    width: 22px;
    height: 22px;
}

.msg-row {
    margin: 5px;
    cursor: pointer;
}

.odd-row {
    background: #ffffff;
}

.hover-highlight {
    background: inherit;
    transition: 0.2s;
}

.hover-highlight:hover {
    background: #FFCAA3;
    transition: 0.2s;
}

.even-row {
    background: #f0f0f0;
}

.msg-view {
    margin: 5px;
}

.msg-text {
    background: #f0fff0;
}

.small-button {
    background: #eee;
    margin: 2px;
    padding: 3px;
}

.small-button:hover {
    background: #FFCAA3;
    transition: 0.1s;
    cursor: pointer;
}

.small-button img {
    margin: 3px;
    width: 22px;
    height: 22px;
}

.small-button span {
    margin: 3px;
}

.inline-button-orange {
    cursor: pointer;
    background: #FF7500;
    margin: 5px 10px;
    padding: 5px 10px;
}

.inline-button-orange:hover {
    background: #D35400;
    transition: 0.1s;
}

.inline-button-orange img {
    width: 22px;
    height: 22px;
}

.inline-button-orange span {
    margin: 5px 7px;
}

.top-bar-button {
    cursor: pointer;
    transition: 0.2s;
}

.top-bar-button:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.blank-space {
    margin-top: 25px;
}

.invisible {
    display: none;
}

.visible {
    display: inherit;
}

.unread-message-count {
    background: #f3c5c5;
    padding: 3px 7px;
    border-radius: 5px!important;
}