<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <title th:text="${site_caption}">Index</title>
        <meta name="keywords" content="" />
		<meta name="description" content="" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" th:href="@{/p/{id}(id = ${favicon})}">
        
        <!-- Google Web Font Embed -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=de52f4a5-e074-425f-b600-fc8a725c1e8e"
                type="text/javascript"></script>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="js/colorbox/colorbox.css"  rel='stylesheet' type='text/css'>
        <link href="css/templatemo_style.css"  rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>

        <div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">
                    <div id="phone" class="pull-left">
                            <img src="images/phone.png" alt="phone"/>
                        <span th:utext="${top_phone}"></span>
                    </div>
                    <div id="email" class="pull-right">
                            <img src="images/email.png" alt="email"/>
                        <span th:utext="${top_email}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="templatemo-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            <h1><a href="#" class="navbar-brand" th:utext="${top_caption}"></a></h1>
                        </div>
                        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="active"><a href="#templatemo-top">Домой</a></li>
                                <li><a href="#templatemo-service">Услуги</a></li>
                                <li><a href="#templatemo-about">О нас</a></li>
                                <li><a href="#templatemo-blog">Барахолка</a></li>
                                <li><a href="#templatemo-contact">Контакты</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div> <!-- /container -->
        </div>
        
        <div>
            <!-- Carousel -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 th:utext="${carousel_welcome}"></h1>
                                <div style="height:120px;"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container">
                                <div class="carousel-caption">
                                    <div class="col-sm-6 col-md-6">
                                        <div th:utext="${carousel_text_1}"></div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div th:utext="${carousel_text_2}"></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                	<h1>Проверьте файл антивирусом</h1>
                                    <form method="POST" id="drweb_online_scan_form" enctype="multipart/form-data" action="http://online.drweb.com/result/" target="drweb_scan_form_popup_window">
                                        <div style="">
                                            <div style="padding: 0px;">
                                                <input style="display:none;" name="file" id="file_selection_input" type="file" size="17">
                                                <label style="float:left; padding: 3px;" for="file_selection_input" class="btn-orange">Выберите файл</label>
                                                <input style="float:right;" type="image" onclick="return do_scan_file_01();" src="../images/button.gif" width="115" height="21">
                                            </div>
                                        </div>
                                    </form>
                                    <div style="height:120px;"></div>
                                </div>
                            </div>
                        </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /#templatemo-carousel -->
        </div>

        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="col-md-12 templatemo-slogan text-center">
                    <div class="txt_slogan" th:utext="${center_text}"></div>
                    <div class="col-md-6 templatemo-service-item">
                        <div th:utext="${two_col_1}"></div>
                    </div>
                    <div class="col-md-6 templatemo-service-item">
                        <div th:utext="${two_col_2}"></div>
                    </div>
                    <div class="col-md-4 templatemo-service-item">
                        <div th:utext="${three_col_1}"></div>
                    </div>
                    <div class="col-md-4 templatemo-service-item">
                        <div th:utext="${three_col_2}"></div>
                    </div>
                    <div class="col-md-4 templatemo-service-item">
                        <div th:utext="${three_col_3}"></div>
                    </div>
                </div>
                <div class="col-md-12 templatemo-slogan text-center">
                    <div class="col-md-3">
                        <a class="colorbox" href="images/cert.jpg" data-group="gallery-graphic">
                            <img src="images/cert.jpg" class="img-responsive" alt="cert" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="colorbox" href="images/cert.jpg" data-group="gallery-graphic">
                            <img src="images/cert.jpg" class="img-responsive" alt="cert" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="colorbox" href="images/cert.jpg" data-group="gallery-graphic">
                            <img src="images/cert.jpg" class="img-responsive" alt="cert" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="colorbox" href="images/cert.jpg" data-group="gallery-graphic">
                            <img src="images/cert.jpg" class="img-responsive" alt="cert" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="templatemo-service" id="templatemo-service">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header" style="margin-top:0px;" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">УСЛУГИ</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                </div>

                <div th:each="serviceCategory: ${serviceCategories}" class="col-md-4">
                    <div class="templatemo-service-item">
                        <div>
                            <img th:src="@{/p/{id}(id = ${serviceCategory.pictureId})}" alt="icon" with="64" height="64"/>
                            <span th:text="${serviceCategory.title}" class="templatemo-service-item-header"></span>
                        </div>
                        <ul>
                            <th:block th:each="serviceUnit: ${serviceCategory.units}">
                                <li th:if="${serviceUnit.showOnMain}" th:utext="${serviceUnit.name}"></li>
                            </th:block>
                        </ul>
                        <div class="text-center">
                            <a href="/service"
                               class="templatemo-btn-read-more btn btn-orange">Подробнее</a>
                        </div>
                        <br class="clearfix"/>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="templatemo-team" id="templatemo-about">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left"/><span>НАША КОМАНДА</span>
                            <hr class="team_hr team_hr_right" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                    <ul class="row row_team">
                        <li th:each="teammate: ${teammates}" class="col-lg-3 col-md-3 col-sm-6 ">
                            <div class="text-center">
                                <div class="member-thumb">
                                    <img th:src="@{/p/{id}(id = ${teammate.photoId})}" class="img-responsive" th:alt="${teammate.name}" width="500" height="500" />
                                    <div class="thumb-overlay" th:attrappend="style='padding-left:' + *{100 / (teammate.socialNetworks.size + 1) + ((teammate.socialNetworks.size==1)?-5:5)} + '%;'">
                                        <th:block th:each="teammateSocialNetwork: ${teammate.socialNetworks}">
                                            <a style="margin-top:5px;" th:href="${teammateSocialNetwork.link}">
                                                <img th:src="@{/p/{id}(id = ${teammateSocialNetwork.pictureId})}" width="42" height="42" />
                                            </a>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="team-inner">
                                    <p class="team-inner-header" th:text="${teammate.name}"></p>
                                    <p class="team-inner-subtext" th:text="${teammate.position}"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div><!-- /.templatemo-team -->

        <div id="templatemo-blog">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="span_blog txt_darkgrey">БАРАХОЛКА</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <br class="clearfix"/>
                </div>

                <div class="blog_box">
                    <div th:each="goodsEntity: ${goods}" class="col-sm-5 col-md-6 blog_post"
                         th:if="${goodsEntity.showOnMain}">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="#">
                                <img class="img-responsive" th:src="'/p/' + ${goodsEntity.imageId}"
                                     width="150" height="150" th:alt="${goodsEntity.title}" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header" th:text="${goodsEntity.title}"></span>
                                    <br/>
                                </div>
                                <div class="pull-right">
                                    <span class="label-orange" th:text="${goodsEntity.price}"></span>
                                </div>
                                <div class="clearfix"> </div>
                                <div class="blog_text">
                                    <span th:utext="${goodsFormattedDescription[goodsEntity.id].shortDescription}"></span>
                                    <a class="link_orange" th:onclick="'showGoodsFullDescription(' + ${goodsEntity.id} + ');'">
                                        <span class="txt_orange">Подробнее</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="templatemo_clear"></div>

                    <div class="col-sm-5 col-md-6 blog_post">
                        <a class="btn btn-orange" href="/goods" role="button">Смотреть всю барахолку</a>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id="templatemo-contact">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header head_contact">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">КОНТАКТЫ</span>
                            <hr class="team_hr team_hr_right hr_gray"/>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="templatemo-contact-map" id="map-canvas"> </div>  
                        <div class="clearfix"></div>
                        <i>Вы можете найти нас во дворе <span class="txt_orange">телеграфа</span></i>
                    </div>
                    <div class="col-md-4 contact_right">
                        <p>Время работы: Пн-Пт с 8:00 до 17:00, Сб-Вс Выходные</p>
                        <p><img src="images/location.png" alt="icon 1" />Воронежская обл., г. Борисоглебск, ул. Карла Маркса, 76</p>
                        <p><img src="images/phone1.png"  alt="icon 2" /><span th:utext="${top_phone}"></span></p>
                        <p><img src="images/globe.png" alt="icon 3" /><a class="link_orange" href="http://www.megaprintbsk.ru/"><span class="txt_orange">www.megaprintbsk.ru</span></a></p>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <input id="senderName" type="text" class="form-control" placeholder="Ваше имя..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <input id="senderEmail" type="email" class="form-control" placeholder="Ваш Email..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <textarea  id="text" class="form-control" style="height: 130px;" placeholder="Напишите здесь ваше сообщение..."></textarea>
                            </div>
                            <button id="sendMessage" onclick="sendMessage();" class="btn btn-orange pull-right">ОТПРАВИТЬ</button>
                        </div>
                        <script th:inline="javascript">
                            function sendMessage() {
                                let requestBody = {
                                    senderName: $('#senderName').val(),
                                    senderEmail: $('#senderEmail').val(),
                                    text: $('#text').val()
                                };
                                fetch('/send_message', {
                                    method: 'POST',
                                    body: JSON.stringify(requestBody),
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                })
                                .then(response => {
                                    response.json().then(r => {
                                        if (r) {
                                            anyTextMessage('', 'Ваше сообщение принято', '/images/good.png');
                                        } else {
                                            anyTextMessage('Ошибка', 'Ошибка при отправке сообщения. Попробуйте позже.', '/images/error.png');
                                        }
                                    });
                                });
                            }
                        </script>
                        	
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#templatemo-contact -->

        <div class="templatemo-footer" >
            <div class="container">
                <div class="row">
                    <div class="text-center">

                        <div class="footer_container">
                            <div class="height30"></div>
                            <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Наверх</a>
                            <div class="height30"></div>
                        </div>
                        <div class="footer_bottom_content">
                   			<span id="footer-line">Copyright © 2021 <a href="#">МегаПринт</a>
                            
                            - Made with love -</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js"  type="text/javascript"></script>
        <script src="js/stickUp.min.js"  type="text/javascript"></script>
        <script src="js/colorbox/jquery.colorbox-min.js"  type="text/javascript"></script>
        <script src="js/templatemo_script.js"  type="text/javascript"></script>
        <script type="text/javascript">initYMap();</script>
		<!-- templatemo 395 urbanic -->

        <!-- Modal for Goods full description view -->
        <div class="modal fade" id="modalGoodsFull" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalGoodsFullLabel">Подробности</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="#">
                                <img class="img-responsive" src="images/blank_image.png" id="modalGoodsFullPicture"
                                     width="150" height="150" alt="goods photo" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header" id="modalGoodsFullTitle"></span>
                                    <br/>
                                </div>
                                <div class="">
                                    <span class="label-orange" id="modalGoodsFullPrice"></span>
                                </div>
                                <div class="clearfix"> </div>
                                <div class="blog_text">
                                    <span id="modalGoodsFullFullDescription"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            function showGoodsFullDescription(goodsId) {
                let goods = /*[[${goods}]]*/ null;
                let goodsFormattedDescription = /*[[${goodsFormattedDescription}]]*/ null;
                let goodsEntity = goods.find(obj => obj.id === goodsId);
                if (goodsEntity != null) {
                    $('#modalGoodsFullTitle').html(goodsEntity?.title);
                    $('#modalGoodsFullPrice').html(goodsEntity?.price);
                    let picture = document.getElementById('modalGoodsFullPicture');
                    picture.src = '/p/' + goodsEntity?.imageId;
                    $('#modalGoodsFullFullDescription').html(goodsFormattedDescription[goodsEntity.id].fullDescription);
                    // edit buttons action binding
                    $('#modalGoodsFullEditButton').unbind();
                    $('#modalGoodsFullEditButton').click(() => showModalGoods(goodsId));
                    $('#modalGoodsFullDeleteButton').unbind();
                    $('#modalGoodsFullDeleteButton').click(() => deleteGoods(goodsId));
                    // show popup window
                    $('#modalGoodsFull').modal();
                }
            }
        </script>

        <!-- Modal any text message -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <img class="img-responsive" src="images/blank_image.png" id="modalIcon"
                                     width="64" height="64" alt="message icon" />
                            </li>
                            <li class="col-md-8">
                                <h4 id="modalText"></h4>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            function anyTextMessage(label, text, icon) {
                $('#modalLabel').html(label);
                $('#modalText').html(text);
                let picture = document.getElementById('modalIcon');
                picture.src = icon;
                $('#modal').modal();
            }
        </script>

    </body>
</html>